@font-face {
  font-family: "icons";
  src: url("./icons.ttf?d4cd89bd48bfcebbab353378d461832a") format("truetype");
}

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\f101";
}
.icon-screen-share:before {
  content: "\f102";
}
.icon-phone-off:before {
  content: "\f103";
}
.icon-microphone-on:before {
  content: "\f105";
}
.icon-microphone-off:before {
  content: "\f106";
}
.icon-remote-control:before {
  content: "\f107";
}
.icon-click-pointer:before {
  content: "\f108";
}
.icon-pen:before {
  content: "\f109";
}
.icon-chevron-down:before {
  content: "\f10a";
}
