name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  precommit:
    uses: ./.github/workflows/precommit-reusable.yml

  hopp-core:
    needs: precommit
    uses: ./.github/workflows/hopp-core-reusable.yml
